@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F2C67;
  --primary-color: #F4E185;
  --primary-dark-color: #F3950D;
  --secondary-color: #045e5c;
  --white-color: #ffffff;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--background);
}

#__next {
  min-height: 100vh;
}