:root {
  --background: #ffffff;
  --foreground: #171717;
  --white-color: #ffffff;
  --black-color: #171717;
  --primary-color: rgb(0, 142, 167);
  --primary-dark-color: rgb(2, 82, 96);

  --secondary-color: #81ecec;
  --secondary-dark-color: #00cec9;

  --header-height: 50px;
  --footer-height: 84px;


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.2rem 0.5rem;
  background-color: var(--primary-dark-color);
  color: var(--white-color);
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

#__next {
  min-height: 100vh;

}