@media (max-width: 600px) {}



.preview-section {
  margin: 2rem 5rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 20px;
}


.add-button {
  width: 200px;
  color: rgb(0, 0, 113);
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0px;

  display: flex;
  flex-direction: row-reverse;
  padding: 10px 25px;
}

footer .add-button {
  color: var(--primary-color);
  width: 64px;
  border-radius: 50%;
  z-index: 2;
}

footer .lucide {
  background-color: var(--white-color);

}

@media (min-width: 900px) {
  .preview-section {

    justify-content: space-around;
  }
}