.card {
    width: 250px;
    padding: 4% 2%;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;

    text-align: center;


}

.card img {
    border-radius: 5px 5px 0px 0px;
    box-shadow:
        0 4px 18px 0 rgba(255, 255, 255, 0.5),
        0 10px 20px 0 rgba(255, 255, 255, 0.5);
}

.card h1 {
    color: var(--primary-dark-color);
}