/* 


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    }
    
    
    */

.card-section {
    margin: 1rem 2rem;
    max-width: 600px;

    margin: auto;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-items: center;
    align-items: center;
}

.card-section .info-section {
    grid-area: 2 / 1 / 3 / 4;

}

.card-section .navigation-button {
    height: 100%;
    width: 40px;

    border-radius: 12px;

    /* background-color: var(--primary-dark-color);
        color: var(--white-color); */

    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation-button:hover {
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
}

.card-section h1 {
    margin: 1rem 0px;
}

.card-section img {
    border-radius: 12px;
}


.section-action-buttons {
    text-align: center;
}

.action-button {
    box-shadow: none;
    /* background-color: var(--primary-dark-color);
        color: var(--white-color); */
    border: none;
    border: 2px;
    margin: 0px 10px;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

.action-button:disabled {
    background-color: gray;
}



@media (min-width: 900px) {
    .card-section {
        max-width: 800px;

        grid-template-columns: 1fr 2fr 3fr 1fr;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        justify-items: center;
        align-items: center;
    }

    .card-section .info-section {
        grid-area: 1 / 3 / 2 / 4;
    }

    .section-action-buttons {
        max-width: 600px;
        text-align: right;
        margin: auto;
    }

    .action-button {
        margin: 10px;
    }
}